.root-div {

}

.intake-root-div {
  
 
}

.intake-title {
  margin: 0;
  padding: 0;
  margin-top: 100px;
  font-family: aktiv-grotesk, sans-serif;
  font-weight: 700;
  font-style: normal;
  text-align: center;
  font-size: 50px;
}
.intake-question-title{
  margin: 0;
  padding: 0;
  margin-top: 50px;
  font-family: aktiv-grotesk, sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  font-size: 35px;
}

.flex-1{
  flex:1;
}
.child-page-two-button-text{
  margin: 0;
  padding: 0;
  font-family: aktiv-grotesk, sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  font-size: 65px;
}
.round-button{
  width:120px;
  cursor:pointer;
  border: solid  border 2px;
  color: black;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  height:120px;
  margin: 4px 2px;
}
