.root-div {}

.intake-root-div {}

.intake-title {
  margin: 0;
  padding: 0;
  margin-top: 100px;
  font-family: aktiv-grotesk, sans-serif;
  font-weight: 700;
  font-style: normal;
  text-align: center;
  font-size: 50px;
}

.intake-question-title {
  margin: 0;
  padding: 0;
  margin-top: 50px;
  font-family: aktiv-grotesk, sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  font-size: 35px;
}

.flex-1 {
  flex: 1;
}

.child-page-two-button-text {
  margin: 0;
  padding: 0;
  font-family: aktiv-grotesk, sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  font-size: 65px;
}

.round-button {
  width: 120px;
  cursor: pointer;
  border: solid border 2px;
  color: black;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  height: 120px;
  margin: 4px 2px;
  border-radius: 25px;
}

.page-three-child {
  /* The image used */
  background-image: url("/images/gradient-yellow.jpg");

  /* Full height */
  height: 100vh;
  color: 'white';
  /* Center and scale the image nicely */
  background-position: top;
  background-repeat: no-repeat;
  background-size: fill;
  margin-bottom: 50vh
}

.page-four-child {
  /* The image used */
  background-image: url("/images/i-am-background.jpg");

  /* Full height */
  height: 100vh;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

.page-five-child {
  /* The image used */
  background-image: url("/images/kids.svg");

  /* Full height */
  height: 100vh;
  margin-top: 300px;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

.page-six-child {
  /* The image used */
  background-image: url("/images/yellow-flower-background.jpg");

  /* Full height */
  height: 100vh;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

.page-seven-child {
  /* The image used */
  background-image: url("/images/running-kids.jpg");

  /* Full height */
  height: 100vh;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

.page-seven-child {
  /* The image used */
  /* background-image: url("/images/feelings.jpg"); */

  /* Full height */
  height: 100vh;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

.page-seven-title {
  margin-top: 100px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 70px;

  color: white;
}

.page-ten-child {
  /* The image used */
  background-image: url("/images/people.jpg");

  /* Full height */
  height: 100vh;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.counter {
  position: fixed;
  top: .3em;
  right: .3em;
  font-size: 1.5em;
  color: white;
  border-radius: .5em;
  padding: .3em 1em .5em 1em;
  background-color: lightskyblue;
}

.counter:hover {
  font-size: 2em;
}

.counter:hover>span {
  display: inline;
  font-size: .5em;
}

.counter>span {
  display: none;
}